<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
</head>

<body>
    <h1><%= title %> for <%= user %></h1>
    <% if ( user ) { %>
        <h2>Hello <%=user%> </h2>
        <a href="/logout">Logout</a>
    <% } else { %>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    <% } %>
    <br><br>
    <img src="img/paper.jpg" width="500" height="300" alt="Hack Hands logo">
</body>
</html>